body{overflow:hidden;}

/* estilo de barra de desplazamiento para la pagina */
::-webkit-scrollbar{width: 8px;}
::-webkit-scrollbar-thumb{background-color: #438eb9;border-radius:20px;}
::-webkit-scrollbar-corner{background-color: #e4e6e9;}

/* letras en mayusculas */
h6
{
    text-transform: uppercase;
}
/* tooltip*/
.tooltip-content
{
    text-align:left;
}
/* alto de los modales */
#modal_contentID
{
    height:420px;
}
/* modal de fecha */
.datepicker-modal
{
    top: 0px !important;
}
/* al pasar el mause etiquetas a cambia el tamaño de letras */
a:hover
{
    font-size:20px !important;
}
/* mensajes de notificaciones a mitad de patalla*/
#jGrowl
{
    height:50%;
    bottom:50%;
}
/* no recuerdo */
input.select-dropdown
{
    width:85px !important;
}
/* ancho del modal evita que el ancho de los modales de fecha sean muy pequeños */
.modal
{
    width:80% !important;
}
/* estos modales necesito ancho del 100% */
.modal-fixed-footer
{
    width:100% !important;
}